* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* Common */
a {
    text-decoration: none;
}

.fixed-header .content {
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    width: 144px;
    padding: 17px 41px;
    border-radius: 24.5px;
    background-color: #171100;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

/* Navbar */

.fixed-header {
    /* margin: 36px 135px 135px 0px; */
    padding-top: 36px;
    background-color: #fffcf4;
    /* background-color: red; */
}

.fixed-header .content {
    width: 1170px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar .menu {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar .menu .menu-order {
    margin-right: 70px;
}

.navbar .menu .menu-order ul {
    display: flex;
    gap: 42px;
}

.navbar .menu .menu-order ul a {
    font-size: 1.6rem;
    font-weight: 400;
    color: #171100;
}

.navbar .menu .menu-order ul li:first-child a {
    font-weight: 600;
    position: relative;
}

.navbar .menu .menu-order ul li:first-child a::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 10px;
    height: 2px;
    border-radius: 12px;
    background: #000339;
    top: 90%;
    left: 13%;
    transform: translateX(-50%);
}

/* Hero wrap */
.hero-wrap {
    background-color: #fffcf4;
}

.hero-wrap .content {
    width: 1170px;
    padding-top: 64px;
    display: flex;
    gap: 230px;
    margin-left: auto;
    margin-right: auto;
}

.hero-wrap .hero-img {
    width: 470px;
    object-fit: cover;
    border-radius: 20px;
}

.hero-wrap .content .info .title {
    font-family: "Sen", sans-serif;
    margin-top: 40px;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: -0.02em;
    color: #171100;
}

.hero-wrap .content .info .desc {
    font-family: Poppins;
    margin-top: 22px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
    color: #5f5b53;
}
